In [3]:
car_dict = {"Brand":"BMW", "Model":"ix", "Year":1964}
print(car_dict)

{'Brand': 'BMW', 'Model': 'ix', 'Year': 1964}

In [7]:
#ACCESSING DICTIONARY ELEMENTS
print(car_dict["Brand"])

BMW

In [9]:
#LENGTH OF DICTIONARY
print(len(car_dict))

3

In [11]:
#TYPE OF DATA
print(type(car_dict))

<class 'dict'>

In [13]:
#FOR DUPLICATE KEYS
car_dict2 = {"Brand":"BMW", "Model":"iX","Year":1964, "Year":2000}
print(car_dict2)

{'Brand': 'BMW', 'Model': 'iX', 'Year': 2000}

In [15]:
car_dict3 = {"Brand":"BMW", "Model":"iX","Year":2024, "Year":2000}
print(car_dict3)

{'Brand': 'BMW', 'Model': 'iX', 'Year': 2000}

In [17]:
#FOR ACCESSING DICTIONARY ITEMS
x  = car_dict.get("Model")
print(x)

ix

In [19]:
#The keys() method will return a list of all the keys in the dictionary.
car_dict.keys()

dict_keys(['Brand', 'Model', 'Year'])

In [21]:
#The values() method will return a list of the values in the dictionary
car_dict.values()

dict_values(['BMW', 'ix', 1964])

In [25]:
#TO change the values of dictionary
car_dict["year"] = 2024
print(car_dict)

{'Brand': 'BMW', 'Model': 'ix', 'Year': 1964, 'year': 2024}

In [27]:
#To add a new key:value in dictionary
car_dict["color"] = "White"
print(car_dict)

{'Brand': 'BMW', 'Model': 'ix', 'Year': 1964, 'year': 2024, 'color': 'White'}

In [29]:
#The values in dictionary items can be of any data type
d3 = {"name":"A", "year":2023, "Pass":True, "Marks":[50, 60, 70]}
print(d3)

{'name': 'A', 'year': 2023, 'Pass': True, 'Marks': [50, 60, 70]}

In [31]:
d3.update({"year":2024})
print(d3)

{'name': 'A', 'year': 2024, 'Pass': True, 'Marks': [50, 60, 70]}

In [33]:
#ADDING A NEW PAIR OF KEY AND VALUE
d3["phone_no"] = 94566
print(d3)

{'name': 'A', 'year': 2024, 'Pass': True, 'Marks': [50, 60, 70], 'phone_no': 94566}

In [35]:
d3.update({"email":"asdf@gmail.com"})
print(d3)

{'name': 'A', 'year': 2024, 'Pass': True, 'Marks': [50, 60, 70], 'phone_no': 94566, 'email': 'asdf@gmail.com'}

In [3]:
#FOR REMOVING DICTIONARY ITEMS
#THE POP() METHOD REMOVES THE ITEM WITH THE SPECIFIED KEY NAME:

d3.pop("phone_no")
print(d3)

NameError: name 'd3' is not defined

In [39]:
#The popitem() methodd removes the last inserted item
d3.popitem()
print(d3)

{'name': 'A', 'year': 2024, 'Pass': True, 'Marks': [50, 60, 70]}

In [67]:
#THE DEL KEYWORD REMOVES THE ITEM WITH THE SPECIFIED KEY NAME:
d3 = {"name":"A", "year":2023, "Pass":True, "Marks":[50, 60, 70]}
del d3["Marks"]

In [69]:
print(d3)

{'name': 'A', 'year': 2023, 'Pass': True}

In [55]:
#The clear method emptie sthe dictionary
d3 = {"name":"A", "year":2023, "Pass":True, "Marks":[50, 60, 70]}
d3.clear()
print(d3)
print(type(d3))

{}
<class 'dict'>

In [73]:
d3 = {"name":"A", "year":2023, "Pass":True, "Marks":[50, 60, 70]}
del d3
print(d3)

NameError: name 'd3' is not defined

In [5]:
#Copy dictionary
d3 = {"name":"A", "Year":2023, "Pass":True, "Marks":[50, 60, 70]}
d4 = d3.copy()
print(d4)

{'name': 'A', 'Year': 2023, 'Pass': True, 'Marks': [50, 60, 70]}

In [11]:
d5 = dict(d4)
print(d5)

{'name': 'A', 'Year': 2023, 'Pass': True, 'Marks': [50, 60, 70]}

In [13]:
#NESTED DICTIONARIES

myfamily = {
      "Child1" : {
        "Name" : "Emil",
        "Year" :  2004
      },
       "Child2" : {
         "Name" : "Tobias",
         "Year" : 2007
       },
       "Child3" : {
         "Name" : "Linus",
         "Year" : 2011
       }
}
print(myfamily)

{'Child1': {'Name': 'Emil', 'Year': 2004}, 'Child2': {'Name': 'Tobias', 'Year': 2007}, 'Child3': {'Name': 'Linus', 'Year': 2011}}

In [15]:
print(myfamily["Child2"]["Name"])

Tobias