In [1]:
#There are a few ways to go
#This is also true for conditionals and user defined functions!!!

counter = 0
simple_list = [0,1,2,3,4,5,6,2143,123,7834]
for i in simple_list:
    #the only liners that get executed in this loop are tabbed correctly!!!
    print(i)
    counter += 1
print("This line is not inside the loop")
print("The loop cycled",counter, "times")

0
1
2
3
4
5
6
2143
123
7834
This line is not inside the loop
The loop cycled 10 times

In [5]:
#We may just want to loop over a range of values
#We can do this with a "range" type
print(range(6))

range(0, 6)

In [7]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [9]:
#we can specify the starting point of a range also
#Rememver that the left value is inclusive and the right value is exclusive
for i in range(4,10):
    print(i)

4
5
6
7
8
9

In [3]:
#we can also by a specific amount
for i in range(2,10,3):
    print(i)

2
5
8

In [11]:
#We can convert a range type into a list though
list(range(6, 15, 3))

[6, 9, 12]

In [ ]:
#While loops are similar