# LAMBDA
#### A lambda function is a small anonymous function. A lambda function can take any number of arguments, but can only have one expression.

### Syntax
#### lambda arguments : expression

In [4]:
# Add 10 to argument a, and return the result:
x = lambda a : a + 10
print(x(5))

15

In [6]:
# Multiply argument a with argument b and return the result:
x = lambda a, b : a * b
print(x(5, 6))

30

In [8]:
# Summarize argument a, b, and c and return the result:
x = lambda a, b, c : a + b + c
print(x(5, 6, 3))

14

In [16]:
# Multiply argument a with argument n and return the result(Using Function):
def my_function(n):
    return lambda a : a * n
a = 10  
result = my_function(8)(a)
print(result)

80

In [18]:
def my_function(n):
    return lambda a : a * n
mydoubler = my_function(2)
print(mydoubler(11))

22

In [20]:
def my_function(n):
    return lambda a : a * n
mydoubler = my_function(3)
print(mydoubler(11))

33

In [22]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33