# Python List

#### Lists are used to store multiple items in a single variable.
#### Lists are one of 4 built-in data types in Python used to store collections of data,
#### the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

### Create a List:

In [6]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

#### List items are ordered, changeable, and allow duplicate values.

In [11]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

### List Length

In [16]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

### List Items - Data Types

In [19]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3, True]
list3 = [True, False, False]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3, True]
[True, False, False]

In [21]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

### type()

In [25]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

### The list() Constructor

In [32]:
# It is also possible to use the list() constructor when creating a new list.
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

### Access List Items

In [35]:
# List items are indexed and you can access them by referring to the index number:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

### Negative Indexing

In [38]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

### Range of Indexes

In [41]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [43]:
# This example returns the items from the beginning to, but NOT including, "kiwi"
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [45]:
# This example returns the items from "cherry" to the end:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

### Ranges of Negative Indexes

In [50]:
# This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

### Check if Item Exists

In [53]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

## Change List Items

### Change Item Value

In [57]:
# Change the second item:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

### Change a Range of Item Values

In [62]:
# Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [68]:
# Change the second value by replacing it with two new values:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)
print(thislist[3])

['apple', 'blackcurrant', 'watermelon', 'cherry']
cherry

In [71]:
# Change the second and third value by replacing it with one value:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

### Insert Items

#### The insert() method inserts an item at the specified index
#### To insert a new list item, without replacing any of the existing values, we can use the insert() method.

In [81]:
# Insert "watermelon" as the third item:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

## Add List Items

### Append Items
#### To add an item to the end of the list, use the append() method:

In [89]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

### Insert Items
#### The insert() method inserts an item at the specified index

In [93]:
# Insert an item as the second position:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "Watermelon")
print(thislist)

['apple', 'Watermelon', 'banana', 'cherry']

### Extend List
#### To append elements from another list to the current list, use the extend() method.

In [99]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

### Add Any Iterable
#### The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [102]:
# Add elements of a tuple to a list:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

## Remove List Items

### Remove Specified Item
#### The remove() method removes the specified item.

In [108]:
# Remove "banana":
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [110]:
# Remove the first occurrence of "banana":
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

### Remove Specified Index
#### The pop() method removes the specified index.

In [114]:
# Remove the second item:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [116]:
# Remove the last item:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

#### The del keyword also removes the specified index:

In [119]:
# Remove the first item:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

#### The del keyword can also delete the list completely.

In [124]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)

NameError: name 'thislist' is not defined

### Clear the List
#### The clear() method empties the list.
#### The list still remains, but it has no content.

In [127]:
# Clear the list content:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

## Loop Lists

### Loop through a List

In [131]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

### Loop through the Index Numbers

In [134]:
thislist = ["apple", "banana", "cherry"]
for i in range(0, len(thislist)):
    print(thislist[i])

apple
banana
cherry

### Using a While Loop

In [137]:
# Print all items, using a while loop to go through all the index numbers:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i += 1

apple
banana
cherry

### Looping Using List Comprehension

In [144]:
# A short hand for loop that will print all items in a list:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

## List Comprehension
### newlist = [expression for item in iterable if condition == True]

In [149]:
mylist = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []
for x in mylist:
    if "a" in x:
        newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [151]:
# Using List Comprehension
mylist = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in mylist if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [159]:
# Without using for:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [167]:
# Using slicing:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits[0:4]]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi']

In [173]:
# Using Range:
newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

In [175]:
# Get the values in the new list to upper case:
Fruits = ["apple", "banana", "cherry"]
Newlist = [x.upper() for x in Fruits]
print(Newlist)

['APPLE', 'BANANA', 'CHERRY']

In [177]:
#Set all values in the new list to 'orange':
Fruits = ["apple", "banana", "cherry"]
Newlist = ["orange" for x in Fruits]
print(Newlist)

['orange', 'orange', 'orange']

In [179]:
# Return "orange" instead of "banana":
Fruits = ["apple", "banana", "cherry", "dragonfruit", "watermelon"]
Newlist = [x if x != "banana" else "orange" for x in Fruits]
print(Newlist)

['apple', 'orange', 'cherry', 'dragonfruit', 'watermelon']

## Sort Lists

### Sort List Alphanumerically
#### List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [184]:
# Sort the list alphabetically:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [186]:
# Sort the list numerically:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

### Sort Descending
#### To sort descending, use the keyword argument reverse = True:

In [190]:
# Sort the list descending:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [192]:
# Sort the list descending:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

## Customize Sort Function

In [195]:
# Sort the list based on how close the number is to 50:
def myfunc(n):
    return abs(n - 50)
thislist = [100, 50, 65, 82, 23] 
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

## Case Insensitive Sort

In [200]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [202]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

## Reverse Order

In [205]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

## Copy Lists

### Use the copy() method
#### We can use the built-in List method copy() to copy a list.

In [210]:
# Make a copy of a list with the copy() method:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

### Use the list() method:

In [213]:
# Make a copy of a list with the list() method:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

### Use the slice Operator

In [217]:
# Make a copy of a list with the : operator:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

## Join Lists
### + Operator

In [221]:
# Join two list:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

### Append

In [224]:
#Append list2 into list1:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
for x in list2:
    list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]

### Extend

In [227]:
# Use the extend() method to add list2 at the end of list1:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

# Practice

In [230]:
l1 = [1,2,3,4,5]
print(type(l1))

<class 'list'>

In [232]:
l2 = [1, 2.5, "N", True]
l3 = [12, 23, 76, 45, 90]

print(len(l3))

#positive indexing
print(l3[0])
print(l3[1])
print(l3[2])
print(l3[3])
print(l3[4])

5
12
23
76
45
90

In [234]:
#negative indexing
print(l3[-1])
print(l3[-2])
print(l3[-3])
print(l3[-4])
print(l3[-5])

90
45
76
23
12

In [236]:
#slicing
print(l3[0:2])
print(l3[1:4])
print(l3[1:5])
print(l3[0:5])
print(l3[2:4])

[12, 23]
[23, 76, 45]
[23, 76, 45, 90]
[12, 23, 76, 45, 90]
[76, 45]

In [242]:
l4 = ["apple", "mango", "banana", "watermelon", "orange"]
print(len(l4))
print(type(l4))
print(l4[0])
print(l4[1])
print(l4[2])
print(l4[0:4])

5
<class 'list'>
apple
mango
banana
['apple', 'mango', 'banana', 'watermelon']

In [244]:
l1 = [1,2,3,4,5]
print(l1[-1])
print(l1[-2])
print(l1[1:])
print(l1[:3])
print(l1[-4:])
print(l1[:-2])
print(l1[-4:-2])

5
4
[2, 3, 4, 5]
[1, 2, 3]
[2, 3, 4, 5]
[1, 2, 3]
[2, 3]

In [246]:
l2 = ["apple", "mango", "banana", "watermelon", "kiwi", "cherry"]

l2[0] = "coconut"
print(l2)

l2[2:4] = ["guava", "guava"]
print(l2)

['coconut', 'mango', 'banana', 'watermelon', 'kiwi', 'cherry']
['coconut', 'mango', 'guava', 'guava', 'kiwi', 'cherry']

In [248]:
sports = ["football", "cricket", "hockey"]
stud = ["a", "b", "c"]

sports.append("table tennis")
print(sports)

sports.insert(2, "carrom")
print(sports)

sports.extend(stud)
print(sports)

['football', 'cricket', 'hockey', 'table tennis']
['football', 'cricket', 'carrom', 'hockey', 'table tennis']
['football', 'cricket', 'carrom', 'hockey', 'table tennis', 'a', 'b', 'c']

In [250]:
sports = ["football", "cricket", "carrom", "hockey", "table tennis", "a", "b", "c"]

sports.remove("hockey")
print(sports)

sports.pop(4)
print(sports)

sports.pop()#removes the last element of the list
print(sports)

del sports[3]#important
print(sports)

['football', 'cricket', 'carrom', 'table tennis', 'a', 'b', 'c']
['football', 'cricket', 'carrom', 'table tennis', 'b', 'c']
['football', 'cricket', 'carrom', 'table tennis', 'b']
['football', 'cricket', 'carrom', 'b']

In [252]:
sports = ["football", "cricket", "carrom", "hockey", "table tennis", "a", "b", "c"]

sports.remove("hockey")
print(sports)

sports.pop(4)
print(sports)

sports.pop()#removes the last element of the list
print(sports)

del sports[3]#important
print(sports)

del sports[2:5]
print(sports)

['football', 'cricket', 'carrom', 'table tennis', 'a', 'b', 'c']
['football', 'cricket', 'carrom', 'table tennis', 'b', 'c']
['football', 'cricket', 'carrom', 'table tennis', 'b']
['football', 'cricket', 'carrom', 'b']
['football', 'cricket']

In [254]:
sports = ["football", "cricket", "carrom", "hockey", "table tennis", "a", "b", "c"]
print(sports)
sports.clear()
print(sports)
del sports
#print(sports) IT WILL THROW AN ERROR AS WE HAVE DELETED THE LIST

['football', 'cricket', 'carrom', 'hockey', 'table tennis', 'a', 'b', 'c']
[]

In [256]:
#SORTING A LIST
students = ["Prakhar", "Faruk", "Deepak", "Mansi", "Puja", "Mohsin"]

students.sort()
print(students) 

students.sort(reverse = True)
print(students)

['Deepak', 'Faruk', 'Mansi', 'Mohsin', 'Prakhar', 'Puja']
['Puja', 'Prakhar', 'Mohsin', 'Mansi', 'Faruk', 'Deepak']

In [258]:
#COPYING A LIST
l1 = [1,2,3,4]
l2 = l1.copy()
print(l2)

l3 = list(l1)
print(l3)

l4 = l1[:]
print(l4)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [260]:
student = ["Prakhar", "Faruk", "Deepak", "Mansi", "Puja", "Mohsin"]

l1 = [1,2,3,4]
student = student + l1

print(student)
student.extend(l1)

print(student)
student.index("Prakhar")

['Prakhar', 'Faruk', 'Deepak', 'Mansi', 'Puja', 'Mohsin', 1, 2, 3, 4]
['Prakhar', 'Faruk', 'Deepak', 'Mansi', 'Puja', 'Mohsin', 1, 2, 3, 4, 1, 2, 3, 4]

0

In [266]:
l1 = [22,34,44,44,44,44,7,76]
l1.count(44)

4

In [268]:
l1.count(22)

1

In [270]:
#CREATION OF LIST

pharma_company = ["Sun Pharmaceutical Industries", "Dr Reddy's Pharmacy", "Cipla Limited", "Torrent Pharmaceuticals", "Zydus Lifesciences", "Biocon Limited","Lupin Limited", "Aurobindo Pharma"]
hospital_names = ["Apollo Hospitals", "Fortis_Healthcare", "Max Healthcare", "AIIMS", "Medanta", "Manipal Hospitals", "Indira IVF","Narayan Health", "Tata Memorial Hospital"]

In [272]:
#DATATYPE
print(type(pharma_company))
print(type(hospital_names))

<class 'list'>
<class 'list'>

In [274]:
#LENGTH OF THE LISTS
print(len(pharma_company))
print(len(hospital_names))

8
9

In [276]:
#FINDING INDEX
hospital_names.index("Apollo Hospitals")

0

In [278]:
#POSITIVE INDEXING OF PHARMA COMPANY LIST

print(pharma_company[0])
print(pharma_company[1])
print(pharma_company[2])
print(pharma_company[3])

Sun Pharmaceutical Industries
Dr Reddy's Pharmacy
Cipla Limited
Torrent Pharmaceuticals

In [280]:
#NEGATIVE INDEXING OF PHARMA COMPANY LIST
print(pharma_company[-4])
print(pharma_company[-5])
print(pharma_company[-6])
print(pharma_company[-7])
print(pharma_company[-8])

Zydus Lifesciences
Torrent Pharmaceuticals
Cipla Limited
Dr Reddy's Pharmacy
Sun Pharmaceutical Industries

In [282]:
#SLICING OF PHARMA COMPANY LIST

print(pharma_company[0:6])

['Sun Pharmaceutical Industries', "Dr Reddy's Pharmacy", 'Cipla Limited', 'Torrent Pharmaceuticals', 'Zydus Lifesciences', 'Biocon Limited']

In [284]:
print(pharma_company[:6])

['Sun Pharmaceutical Industries', "Dr Reddy's Pharmacy", 'Cipla Limited', 'Torrent Pharmaceuticals', 'Zydus Lifesciences', 'Biocon Limited']

In [286]:
print(pharma_company[1:5])

["Dr Reddy's Pharmacy", 'Cipla Limited', 'Torrent Pharmaceuticals', 'Zydus Lifesciences']

In [288]:
print(pharma_company[2:7])

['Cipla Limited', 'Torrent Pharmaceuticals', 'Zydus Lifesciences', 'Biocon Limited', 'Lupin Limited']

In [290]:
#SLICING OF PHARMA COMPANY LIST WITH NEGATIVE INDEXES

print(pharma_company[-8:-2])

['Sun Pharmaceutical Industries', "Dr Reddy's Pharmacy", 'Cipla Limited', 'Torrent Pharmaceuticals', 'Zydus Lifesciences', 'Biocon Limited']

In [292]:
print(pharma_company[:-2])

['Sun Pharmaceutical Industries', "Dr Reddy's Pharmacy", 'Cipla Limited', 'Torrent Pharmaceuticals', 'Zydus Lifesciences', 'Biocon Limited']

In [294]:
print(pharma_company[-4:])

['Zydus Lifesciences', 'Biocon Limited', 'Lupin Limited', 'Aurobindo Pharma']

In [302]:
#REPLACING THE ELEMENTS OF THE LISTS

pharma_company[1] = "Zeelab"
print(pharma_company)

['Sun Pharmaceutical Industries', 'Zeelab', 'Cipla Limited', 'Shivaay Medicos', 'MedLife', 'Biocon Limited', 'Lupin Limited', 'Aurobindo Pharma']

In [300]:
pharma_company[3:5] = ["Shivaay Medicos", "MedLife"]
print(pharma_company)

['Sun Pharmaceutical Industries', "Dr Reddy's Pharmacy", 'Cipla Limited', 'Shivaay Medicos', 'MedLife', 'Biocon Limited', 'Lupin Limited', 'Aurobindo Pharma']

In [298]:
hospital_names[6] = "Pulse Hospital"
print(hospital_names)

['Apollo Hospitals', 'Fortis_Healthcare', 'Max Healthcare', 'AIIMS', 'Medanta', 'Manipal Hospitals', 'Pulse Hospital', 'RIMS', 'Healing Heart Hospital']

In [296]:
hospital_names[6:9] = ["Santevita", "RIMS", "Healing Heart Hospital"]
print(hospital_names)

['Apollo Hospitals', 'Fortis_Healthcare', 'Max Healthcare', 'AIIMS', 'Medanta', 'Manipal Hospitals', 'Santevita', 'RIMS', 'Healing Heart Hospital']

In [304]:
#APPENDING LIST
pharma_company.append("Chaitanya Pharmacy")
print(pharma_company)

['Sun Pharmaceutical Industries', 'Zeelab', 'Cipla Limited', 'Shivaay Medicos', 'MedLife', 'Biocon Limited', 'Lupin Limited', 'Aurobindo Pharma', 'Chaitanya Pharmacy']

In [306]:
#INSERING AN ELEMENT IN LIST
pharma_company.insert(5,"Zeelab")
print(pharma_company)

['Sun Pharmaceutical Industries', 'Zeelab', 'Cipla Limited', 'Shivaay Medicos', 'MedLife', 'Zeelab', 'Biocon Limited', 'Lupin Limited', 'Aurobindo Pharma', 'Chaitanya Pharmacy']

In [308]:
#EXTENDING A LIST
pharma_company.extend(hospital_names)
print(pharma_company)

['Sun Pharmaceutical Industries', 'Zeelab', 'Cipla Limited', 'Shivaay Medicos', 'MedLife', 'Zeelab', 'Biocon Limited', 'Lupin Limited', 'Aurobindo Pharma', 'Chaitanya Pharmacy', 'Apollo Hospitals', 'Fortis_Healthcare', 'Max Healthcare', 'AIIMS', 'Medanta', 'Manipal Hospitals', 'Pulse Hospital', 'RIMS', 'Healing Heart Hospital']

In [310]:
 #REMOVING AN ELEMENT
pharma_company.remove("Cipla Limited")
print(pharma_company)

['Sun Pharmaceutical Industries', 'Zeelab', 'Shivaay Medicos', 'MedLife', 'Zeelab', 'Biocon Limited', 'Lupin Limited', 'Aurobindo Pharma', 'Chaitanya Pharmacy', 'Apollo Hospitals', 'Fortis_Healthcare', 'Max Healthcare', 'AIIMS', 'Medanta', 'Manipal Hospitals', 'Pulse Hospital', 'RIMS', 'Healing Heart Hospital']

In [312]:
#POPING AN ELEMENT
pharma_company.pop() #REMOVES THE VERY LAST ELEMENT FROM THE LIST
print(pharma_company)

['Sun Pharmaceutical Industries', 'Zeelab', 'Shivaay Medicos', 'MedLife', 'Zeelab', 'Biocon Limited', 'Lupin Limited', 'Aurobindo Pharma', 'Chaitanya Pharmacy', 'Apollo Hospitals', 'Fortis_Healthcare', 'Max Healthcare', 'AIIMS', 'Medanta', 'Manipal Hospitals', 'Pulse Hospital', 'RIMS']

In [314]:
pharma_company.pop(3)
print(pharma_company)

['Sun Pharmaceutical Industries', 'Zeelab', 'Shivaay Medicos', 'Zeelab', 'Biocon Limited', 'Lupin Limited', 'Aurobindo Pharma', 'Chaitanya Pharmacy', 'Apollo Hospitals', 'Fortis_Healthcare', 'Max Healthcare', 'AIIMS', 'Medanta', 'Manipal Hospitals', 'Pulse Hospital', 'RIMS']

In [316]:
#DELETING AN ELEMENT  
del pharma_company[2]
print(pharma_company)

['Sun Pharmaceutical Industries', 'Zeelab', 'Zeelab', 'Biocon Limited', 'Lupin Limited', 'Aurobindo Pharma', 'Chaitanya Pharmacy', 'Apollo Hospitals', 'Fortis_Healthcare', 'Max Healthcare', 'AIIMS', 'Medanta', 'Manipal Hospitals', 'Pulse Hospital', 'RIMS']

In [318]:
del hospital_names[3]
print(hospital_names)

['Apollo Hospitals', 'Fortis_Healthcare', 'Max Healthcare', 'Medanta', 'Manipal Hospitals', 'Pulse Hospital', 'RIMS', 'Healing Heart Hospital']

In [320]:
#DELETING A SLICE OF A LIST
pharma_company = ["Sun Pharmaceutical Industries", "Dr Reddy's Pharmacy", "Cipla Limited", "Torrent Pharmaceuticals", "Zydus Lifesciences", "Biocon Limited","Lupin Limited", "Aurobindo Pharma"]
del pharma_company[4:7]
print(pharma_company)

['Sun Pharmaceutical Industries', "Dr Reddy's Pharmacy", 'Cipla Limited', 'Torrent Pharmaceuticals', 'Aurobindo Pharma']

In [322]:
#CLEARING A LIST
hospital_names.clear()
print(hospital_names)

[]

In [324]:
#SORTION OF LISTS
pharma_company.sort() #ASCENDING ORDER
print(pharma_company)

['Aurobindo Pharma', 'Cipla Limited', "Dr Reddy's Pharmacy", 'Sun Pharmaceutical Industries', 'Torrent Pharmaceuticals']

In [326]:
pharma_company.sort(reverse =  True)#DESCENDING ORDER
print(pharma_company)

['Torrent Pharmaceuticals', 'Sun Pharmaceutical Industries', "Dr Reddy's Pharmacy", 'Cipla Limited', 'Aurobindo Pharma']

In [332]:
#COPYING A LIST
l1 = pharma_company.copy()
print(l1)

['Torrent Pharmaceuticals', 'Sun Pharmaceutical Industries', "Dr Reddy's Pharmacy", 'Cipla Limited', 'Aurobindo Pharma']

In [334]:
l2 = list(pharma_company)
print(l2)

['Torrent Pharmaceuticals', 'Sun Pharmaceutical Industries', "Dr Reddy's Pharmacy", 'Cipla Limited', 'Aurobindo Pharma']

In [336]:
l3 = pharma_company[:]
print(l3)

['Torrent Pharmaceuticals', 'Sun Pharmaceutical Industries', "Dr Reddy's Pharmacy", 'Cipla Limited', 'Aurobindo Pharma']

In [338]:
list_1 = [56,54,34,66,56,78,88,98,78,87,65,45,44,333,90,23,56,55,65,44,34,98,78]
list_2 = ["Naina", 2, 3,4,5,6,7,8,9,0,11,12,13,14,15,16,17,18,19,20,21,22,34,4,24,56]

#COUNT OF ELEMENTS IN A LIST
list_1.count(56)

3

In [340]:
list_1.count(88)

1

In [342]:
#CONCATENATION
list_1 = list_1 + list_2
print(list_1)

[56, 54, 34, 66, 56, 78, 88, 98, 78, 87, 65, 45, 44, 333, 90, 23, 56, 55, 65, 44, 34, 98, 78, 'Naina', 2, 3, 4, 5, 6, 7, 8, 9, 0, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 34, 4, 24, 56]

In [344]:
pharma_company = ["Sun Pharmaceutical Industries", "Dr Reddy's Pharmacy", "Cipla Limited", "Torrent Pharmaceuticals", "Zydus Lifesciences", "Biocon Limited","Lupin Limited", "Aurobindo Pharma"]
hospital_names = ["Apollo Hospitals", "Fortis_Healthcare", "Max Healthcare", "AIIMS", "Medanta", "Manipal Hospitals", "Indira IVF","Narayan Health", "Tata Memorial Hospital"]

#del pharma_company
#print(pharma_company)  #THIS WILL THROW UP AN ERROR AS WE HAVE ALREADY DELETED TEH LIST 'pharma_company' SO THERE IS NOTHING LEFT TO PRINT