In [1]:
l1 = [1,2,3,4,5]
print(type(l1))

<class 'list'>

In [7]:
l2 = [1, 2.5, "N", True]
l3 = [12, 23, 76, 45, 90]

print(len(l3))

#positive indexing
print(l3[0])
print(l3[1])
print(l3[2])
print(l3[3])
print(l3[4])

#negative indexing
print(l3[-1])
print(l3[-2])
print(l3[-3])
print(l3[-4])
print(l3[-5])

#slicing
print(l3[0:2])
print(l3[1:4])
print(l3[1:5])
print(l3[0:5])
print(l3[2:4])

5
12
23
76
45
90
90
45
76
23
12
[12, 23]
[23, 76, 45]
[23, 76, 45, 90]
[12, 23, 76, 45, 90]
[76, 45]

In [21]:
l4 = ["apple", "mango", "banana", "watermelon", "orange"]
print(len(l4))
print(type(l4))
print(l4[0])
print(l4[1])
print(l4[2])
print(l4[3])
print(l4[4])
#print(l4[5])
#print(l4[6])

print(l4[0:4])

5
<class 'list'>
apple
mango
banana
watermelon
orange
['apple', 'mango', 'banana', 'watermelon']

In [34]:
l1 = [1,2,3,4,5]
print(l1[-1])
print(l1[-2])
print(l1[1:])
print(l1[:3])
print(l1[-4:])
print(l1[:-2])
print(l1[-4:-2])

5
4
[2, 3, 4, 5]
[1, 2, 3]
[2, 3, 4, 5]
[1, 2, 3]
[2, 3]

In [72]:
l2 = ["apple", "mango", "banana", "watermelon", "kiwi", "cherry"]

l2[0] = "coconut"
print(l2)

l2[2:4] = ["guava", "guava"]
print(l2)

['coconut', 'mango', 'banana', 'watermelon', 'kiwi', 'cherry']
['coconut', 'mango', 'guava', 'guava', 'kiwi', 'cherry']

In [1]:
sports = ["football", "cricket", "hockey"]
stud = ["a", "b", "c"]
sports.append("table tennis")
print(sports)
sports.insert(2, "carrom")
print(sports)
sports.extend(stud)
print(sports)

['football', 'cricket', 'hockey', 'table tennis']
['football', 'cricket', 'carrom', 'hockey', 'table tennis']
['football', 'cricket', 'carrom', 'hockey', 'table tennis', 'a', 'b', 'c']

In [1]:
sports = ["football", "cricket", "carrom", "hockey", "table tennis", "a", "b", "c"]
sports.remove("hockey")
print(sports)
sports.pop(4)
print(sports)
sports.pop()#removes the last element of the list
print(sports)
del sports[3]#important
print(sports)

['football', 'cricket', 'carrom', 'table tennis', 'a', 'b', 'c']
['football', 'cricket', 'carrom', 'table tennis', 'b', 'c']
['football', 'cricket', 'carrom', 'table tennis', 'b']
['football', 'cricket', 'carrom', 'b']

In [3]:
sports = ["football", "cricket", "carrom", "hockey", "table tennis", "a", "b", "c"]
sports.remove("hockey")
print(sports)
sports.pop(4)
print(sports)
sports.pop()#removes the last element of the list
print(sports)
del sports[3]#important
print(sports)
del sports[2:5]
print(sports)

['football', 'cricket', 'carrom', 'table tennis', 'a', 'b', 'c']
['football', 'cricket', 'carrom', 'table tennis', 'b', 'c']
['football', 'cricket', 'carrom', 'table tennis', 'b']
['football', 'cricket', 'carrom', 'b']
['football', 'cricket']

In [15]:
sports = ["football", "cricket", "carrom", "hockey", "table tennis", "a", "b", "c"]
print(sports)
sports.clear()
print(sports)
del sports
#print(sports) IT WILL THROW AN ERROR AS WE HAVE DELETED THE LIST

['football', 'cricket', 'carrom', 'hockey', 'table tennis', 'a', 'b', 'c']
[]

In [21]:
#SORTING A LIST
students = ["Prakhar", "Faruk", "Deepak", "Mansi", "Puja", "Mohsin"]
students.sort()
print(students)
students.sort(reverse = True)
print(students)

['Deepak', 'Faruk', 'Mansi', 'Mohsin', 'Prakhar', 'Puja']
['Puja', 'Prakhar', 'Mohsin', 'Mansi', 'Faruk', 'Deepak']

In [27]:
#COPYING A LIST
l1 = [1,2,3,4]
l2 = l1.copy()
print(l2)

l3 = list(l1)
print(l3)

l4 = l1[:]
print(l4)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [33]:
student = ["Prakhar", "Faruk", "Deepak", "Mansi", "Puja", "Mohsin"]
l1 = [1,2,3,4]
student = student + l1
print(student)
student.extend(l1)
print(student)
student.index("Prakhar")

['Prakhar', 'Faruk', 'Deepak', 'Mansi', 'Puja', 'Mohsin', 1, 2, 3, 4]
['Prakhar', 'Faruk', 'Deepak', 'Mansi', 'Puja', 'Mohsin', 1, 2, 3, 4, 1, 2, 3, 4]

0

In [1]:
l1 = [22,34,44,44,44,44,7,76]
l1.count(44)
l1.count(22)

1

In [ ]:
#Create a list with pharma company names and hospital names