# Python Introduction

## What is Python?
### Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.
### Python can be treated in a procedural way, an object-oriented way or a functional way.
### Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
### Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).

### Example

In [15]:
print("Hello World!")

Hello World!

## Python Variables

In [3]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [5]:
x = 4    # x is of type int
x = "Sally" # x is of type str
print(x)

Sally

In [9]:
x = str(3) # x will be "3"
y = int(3) # y will be 3
z = float(3) # z will be 3.0
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [11]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

### Variable Names

In [14]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [20]:
my_var = 5
b = 10
sum = my_var + b
print(sum)

15

In [24]:
a = 5
a1 = 5.5
a2 = "AAFT"
print(type(a))
print(type(a1))
print(type(a2))

<class 'int'>
<class 'float'>
<class 'str'>

In [28]:
X = [1,2,3,4]
Y = (1,2,3,4)
Z = {"a":1, "b":2, "c":3}
P = {1,2,3,4}
print(type(X))
print(type(Y))
print(type(Z))
print(type(P))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

### Assign Multiple Values

In [31]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [33]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

### Unpack a Collection

In [36]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

### Output Variables

In [39]:
x = "Python is awesome"
print(x)

Python is awesome

In [41]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [43]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [45]:
x = 5
y = 10
print(x + y)

15

In [47]:
#In the print() function, when we try to combine a string and 
#a number with the + operator, Python will give an error:
x = 5  
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [49]:
x = 5
y = "John"
print(x, y)

5 John

### Global Variables

In [54]:
x = "awesome"
def myfunc():
    print("Python is" + " " + x)
myfunc()

Python is awesome

In [58]:
# A variable inside a function, with the same name as the global variable.
x = "awesome"
def myfunc():
    x = "Fantastic"
    print("Python is" + " " + x)
myfunc()    
print("Python is" + " " + x)

Python is Fantastic
Python is awesome

### The global Keyword

In [63]:
def myfunc():
    global x
    x = "fantastic"
myfunc()    
print("Python is" + " " + x)

Python is fantastic

In [69]:
#To change the value of a global variable inside a function,
#refer to the variable by using the global keyword:

x = "awesome"
def myfunc():
    global x
    x = "fantistic"
myfunc()
print("Python is" + " " + x)

Python is fantistic

### Python Numbers

In [74]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

#### int

In [76]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

#### Float

In [80]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [82]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

#### Complex

In [85]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

## Type Conversion

In [88]:
x = 1      # int
y = 2.8    #float
z = 1j     #complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

## Random Number
### Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [105]:
import random
print(random.randrange(1, 10))

1

## Python Casting

#### int

In [108]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(x)
print(y)
print(z)

1
2
3

#### float

In [112]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

#### string

In [114]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

print(x)
print(y)
print(z)

s1
2
3.0

# Python Strings

### Strings

In [123]:
print("Hello")
print('Hello')

Hello
Hello

### Quotes Inside Quotes

In [128]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

### Assign String to a Variable

In [132]:
a = "Hello"
print(a)

Hello

### Multiline Strings

In [139]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [141]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### Strings are Arrays

In [143]:
# Square brackets can be used to access elements of the string.
a = "Hello, World!"
print(a[1])

e

### Looping Through a String

In [147]:
# Since strings are arrays, we can loop through the characters in a string, with a for loop.
for x in "banana":
  print(x)

b
a
n
a
n
a

### String Length

In [154]:
#The len() function returns the length of a string:
a = "Hello, World!"
print(len(a))

13

### Check String

In [157]:
# Check if "free" is present in the following text:
txt = "The best things in life are free!"
print("free" in txt)

True

In [167]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

### Check if NOT

In [171]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [173]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

## Slicing Strings

In [176]:
# Get the characters from position 2 to position 5
b = "Hello, World!"
print(b[2:5])

llo

### Slice From the Start

In [186]:
# Get the characters from the start to position 5
b = "Hello, World!"
print(b[:5])

Hello

### Slice To the End

In [188]:
# Get the characters from position 2, and all the way to the end:
b = "Hello, World!"
print(b[2:])

llo, World!

### Negative Indexing

In [191]:
#Get the characters:
#From: "o" in "World!" (position -5)
#To, but not included: "d" in "World!" (position -2):

b = "Hello, World!"
print(b[-5:-2])

orl

## Modify Strings

### Upper Case

In [195]:
# The upper() method returns the string in upper case:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

### Lower Case

In [199]:
# The lower() method returns the string in lower case:
a = "Hello, World!"
print(a.lower())

hello, world!

### Remove Whitespace

In [202]:
# The strip() method removes any whitespace from the beginning or the end:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

### Replace String

In [205]:
# The replace() method replaces a string with another string:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

### Split String

In [208]:
#The split() method splits the string into substrings
#if it finds instances of the separator:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

## String Concatenation

In [211]:
# Merge variable a with variable b into variable c:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [213]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

## Format - Strings

In [218]:
age = 36
#This will produce an error as we cannot combine strings and numbers like this:
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

### F-Strings

In [221]:
#Create an f-string:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

### Placeholders and Modifiers

In [224]:
# Add a placeholder for the price variable:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [ ]:
# Display the price with 2 decimals:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

In [226]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

## Escape Character

In [231]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

# Python Booleans

### Boolean Values

In [235]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [237]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [239]:
# Evaluate a string and a number:
print(bool("Hello"))
print(bool(15))

True
True

In [241]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

### Most Values are True

In [244]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

### Some Values are False

In [247]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [249]:
bool(None)

False

In [253]:
def myFunction() :
  return True

print(myFunction())

True

In [255]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [257]:
# Check if an object is an integer or not:
x = 200
print(isinstance(x, int))

True

# Operators

In [261]:
print(10 + 5)

15

### Arithmetic Operators

In [3]:
a = 5
b = 10

print(a + b)    # Addition
print(a - b)    # Subtraction
print(a * b)    # Multiplication
print(b / a)    # Division
print(b % a)    # Modulus
print(a ** b)   # Exponentiation
print(b // a)   # Floor Division

15
-5
50
2.0
0
9765625
2

### Comparison Operators

In [9]:
a = 5
b = 10

print(a == b)   # Equals
print(a != b)   # Not equal
print(a > b)    # Greater than
print(a < b)    # Less than
print(a >= b)   # Greater than or equal to
print(a <= b)   # Less than or equal to

False
True
False
True
False
True

### Logical Operators

In [14]:
x = 5 
y = 10
print(x < 5 and  x < 10)     # Returns True if both statements are true
print(x < 5 or x < 4)        # Returns True if one of the statements is true
print(not(x < 5 and x < 10)) # Reverse the result, returns False if the result is true

False
False
True

### Identity Operators

In [17]:
x = 5 
y = 10

print(x is y)      # Returns True if both variables are the same object
print(x is not y)  # Returns True if both variables are not the same object

False
True

### Membership Operators

In [11]:
x = "hello python programmers"
y = "hello python"
print("hello" in y)        # Returns True if a sequence with the specified value is present in the object
print("programmers" not in y)  # Returns True if a sequence with the specified value is not present in the object

True
True

### Bitwise Operators

In [14]:
A = {1,2,3,4}
B = {3,4,5,6}

# Elements common to both sets.(INTERSECTION)
print(A & B)

{3, 4}

In [16]:
# All unique elements from both sets.(UNION)
print(A|B)

{1, 2, 3, 4, 5, 6}

In [18]:
# Elements that are in either A or B but not in both.(SYMMETRIC DIFFERENCE)
print(A^B)

{1, 2, 5, 6}