# Python If...Else
## Python Conditions and If statements

### If Statement

In [ ]:
a = 33
b = 200
if b > a:
    print("b is greater than a")

### Elif

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

### Else

In [ ]:
a = 200
b = 300
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

## Short Hand If

In [ ]:
a = 400
b = 20
if a > b: print("a i greater than b")

### Short Hand If ... Else

In [ ]:
a = 2
b = 33
print("A") if a > b else print("B")

In [ ]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

### And

In [ ]:
a = 200
b = 33
c = 500
if a>b and c>a:
    print("Both conditions are True")

## Or

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

## Not

In [ ]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

## Nested If

In [1]:
x = 41
if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Above ten,
and also above 20!

## The pass Statement
#### if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [ ]:
a = 33
b = 200
if b > a:
    pass

## Python While Loops

### while

In [3]:
# Print i as long as i is less than 6:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

## The break Statement
#### With the break statement we can stop the loop even if the while condition is true:

In [7]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

## The continue Statement
#### With the continue statement we can stop the current iteration, and continue with the next:

In [11]:
# Continue to the next iteration if i is 3:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

## The else Statement
#### With the else statement we can run a block of code once when the condition no longer is true:

In [ ]:
# Print a message once the condition is false:
i = 1
while i < 6:
    print(i)
    i =+ 1
else:
    print("i is no longer less than 6")

## Python For Loops

In [2]:
# Print each fruit in a fruit list:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

## Looping Through a String

In [5]:
# Loop through the letters in the word "banana":
for x in "banana":
  print(x)

b
a
n
a
n
a

## The  break Statement
#### With the break statement we can stop the loop before it has looped through all the items:

In [8]:
# Exit the loop when x is "banana":
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [10]:
# Exit the loop when x is "banana", but this time the break comes before the print:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

## The continue Statement
#### With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [16]:
# Do not print banana:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

## The range() Function
#### The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [19]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [21]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [23]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

## Else in For Loop
#### The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [26]:
# Print all numbers from 0 to 5, and print a message when the loop has ended:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [28]:
# Break the loop when x is 3:
for x in range(6):
    if x == 3: break
    print(x)
else:    
    print("Finally finished!")

0
1
2

## Nested Loops

In [31]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

## The pass Statement

In [34]:
for x in [0, 1, 2]:
  pass