In [17]:
a = '''Whatever you do always give 100%, 
real eyes realize real lies,
you appear insane by those who can't hear the music'''

In [23]:
print(a)

Whatever you do always give 100%,
real eyes realize real lies,
you appear insane by those who can't hear the music

In [39]:
a = "Hello World"
print(len(a))

print(a[1])
print(a[2:5])
print(a[6:11])
print(a[:5])
print(a[6:])
print(a[:5])

11
e
llo
World
Hello
World
Hello

In [41]:
a = "Hello World"
print(a[-3])
print(a[-5:-2])

r
Wor

In [1]:
#MODIFY STRINGS
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [3]:
print(a.lower())

hello, world!

In [5]:
print(a.strip())

Hello, World!

In [7]:
#STRING CONCATENATION
a = "Hello"
b = "World"
c = a + b 
print(c)

HelloWorld

In [9]:
c = a + " " + b
print(c)

Hello World

In [11]:
#FORMAT STRINGS

age = 36
txt = "My name is John, and I am {} years old"
print(txt.format(age))

My name is John, and I am 36 years old

In [13]:
quantity = 3
item_no = 567
price = 49.95
my_order = "I want {} pieces of item {} for {} dollors."
print(my_order.format(quantity, item_no, price))

I want 3 pieces of item 567 for 49.95 dollors.

In [15]:
#ESCAPE CHARACTER
text = "We are the so-called \"vikings\" from the north."
print(text)

We are the so-called "vikings" from the north.

In [1]:
#CAPITALIZE METHOD
txt = "hello, and welcome to my world"
x = txt.capitalize()
print(x)

Hello, and welcome to my world

In [3]:
#TITLE METHOD
#The first character is converted to upper case, and the rest are converted to lower case

txt = "Welcome to my world"
x = txt.title()
print(x)

Welcome To My World

In [5]:
#COUNT METHOD
#The count() method returns the number of times a specified valueb appears in the string.
txt = "I love apples, apple are my favourite fruit"
x = txt.count("apple")
print(x)

2

In [9]:
#string.count(value, start, end)
#Search from position 10 to 24
txt = "I love apples, apple are my favourite fruit"
x = txt.count("apple", 10, 24)
print(x)

1

In [13]:
#find() Method
#Where in the text is the word "welcome"?
txt = "Hello, welcome to my world."
x = txt.find("welcome")
print(x)

#The find() method finds the first occurrence of the specified value.
#The find() method returns -1 if teh value is not found.
#The find() method is almost the same as the index() method, the only difference is that the index() method that the find() method returns -1 if teh value is not found whereas index() method will return error.

7

In [15]:
txt = "Hello, welcome to my world."
x = txt.find("e")
print(x)

1

In [17]:
#text is the first of teh letter "e"  when you only search between position 5 and 10.
txt = "Hello, welcome to my world"
x = txt.find("e", 5, 10)
print(x)

8

In [21]:
#Remove spaces at teh beginning and at the end of the string:
txt = "    banana     "
x = txt.strip()
print(x)
print("of all fruits", x, "is my favourite")

banana
of all fruits banana is my favourite

In [25]:
#Join all the items in a tuple into a string, using  
myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
print(x)

myList = ["John", "Peter", "Vicky"]
y = "#".join(myList)
print(y)

John#Peter#Vicky
John#Peter#Vicky

In [27]:
txt = "I like banana"
x = txt.replace("banana","apple")
print(x)

I like apple

In [29]:
#split() Method
#The split() method splits a tring into a list
#Split a string into a list where each word is a list item.
txt = ("Welcome to the jungle")
x = txt.split()
print(x)

['Welcome', 'to', 'the', 'jungle']

In [31]:
txt = "Hello, my name is Peter, I am 26 years old"
x = txt.split(",")
print(x)

['Hello', ' my name is Peter', ' I am 26 years old']