In [23]:
#TUPLES ARE ORDERED, UNCHANGABLE AND ALLOW DUPLICATE VALUES
t1 = (1,2,3,4)
print(t1)
print(type(t1))
t2 = (1,2,2,3,3,3,4,5)
print(t2)
t1[1] = "a"
print(t1)

(1, 2, 3, 4)
<class 'tuple'>
(1, 2, 2, 3, 3, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [ ]:
t1 = (1,2,3,4)
print(len(t1))

t2 = (1,2,2,3,4,5,5,5)
print(len(t2))

In [ ]:
t3 = ("a", "b", "c", "d", "e")
print(len(t3))

In [1]:
#TUPLE WITH ONE ELEMENT
t4 = (122,)
t5 = ("happiest") #"," IS MISSING THEREFORE STRING TYPE
print(type(t4))
print(type(t5))

<class 'tuple'>
<class 'str'>

In [3]:
#ACCESS TUPLE ITEMS
t6 = ("a", "b", "c", "d", "e")

#POSITIVE INDEXING
print(t6[2])
print(t6[4])
print(t6[2:5])
print(t6[1:])

#NEGATIVE INDEXING
print(t6[-1])
print(t6[-3])
print(t6[-5])
print(t6[-4:-2])

c
e
('c', 'd', 'e')
('b', 'c', 'd', 'e')
e
c
a
('b', 'c')

In [5]:
t2 = ("A", "B", "C", "D", "E")
y = list(t2)
print(type(y))

y[2] = 11
t2 = tuple(y)
print(t2)

<class 'list'>
('A', 'B', 11, 'D', 'E')

In [38]:
z = list(t2)
z.append(6)
t2 = tuple(z)
print(t2)

('A', 'B', 11, 'D', 'E', 6, 6)

In [40]:
#ADDITION OF TUPLES
t1 = (90,)
t2 = ("A", "B", "C", "D", "E")
tuple_add1 = t1 + t2
print(tuple_add1)

(90, 'A', 'B', 'C', 'D', 'E')

In [44]:
#REMOVE ITEMS IN TUPLE

t2 = ("A", "B", "C", "D", "E")
l = list(t2)
l.remove("C")
l.pop()
t2 = tuple(l)
print(t2)

('A', 'B', 'D')

In [48]:
#Multiplying a tuple
t1 = (1,2,3)
t2 = t1 * 2
print(t2)

(1, 2, 3, 1, 2, 3)

In [58]:
# COUNTING AND INDEXING
t1 = (1,2,3,3,3,4,55,5,5,5,5,5,55,5,6,6,77,7)
print(t1.count(3))
print(t1.count(5))

print(t1.index(55))
print(t1.index(77))

3
6
6
16